
---
 const personalImageAlt = "Isabella Aguilar Picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Experienced Software Engineer from Costa Rica with a proven track record at Ainnova Tech, 
        Costa Rica. Expert in Software Engineering, I spearheaded the development of an innovative 
        medical application using AI for diabetes estimation from retinal images. Proficient in <strong> HTML5, 
        CSS3, Django, Python, Docker, and databases</strong>, I played a central role in UI programming and backend 
        development, ensuring efficient deployment. Acknowledged for innovation and adept at harmonizing 
        technology with user experience. Excited to bring my technical prowess to a challenging professional 
        setting, passionate about impactful software development.
      </p>
  

    
    </div>
  
    <img src="https://avatars.githubusercontent.com/u/84691217?v=4" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>
  
  </section>