---
import ExperienceItem from "../components/ExperienceItems.astro"
const EXPERIENCIE = [
  {
    date: "November 2022 - December 2023",
    title: "Software Engineer - Ainnova Tech (San Jose, Costa Rica)",
    description:
      "As a Software Engineer at Ainnova Tech in Costa Rica, I spearheaded the development of a medical app utilizing AI to estimate diabetes from retinal images. My pivotal contributions extended to UI programming and substantial involvement in backend development, facilitating effective client commu- nication. Proficient in HTML5, CSS3, Django, Python, Docker, and databases, I ensured the optimized deployment and robust functionality of the application.",
    
  },

]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>